node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

./blindauction-app/.env
./blindauction-app/node_modules/
./blindauction-app/build

./blindauction-contract/.env
./blindauction-contract/node_modules/

./mpc/mpcapp/node_modules/
./mpc/mpccontract/node_modules/


